
@font-face {
    font-family:'Josefin Sans', sans-serif;
    src: url(../statics/JosefinSans-Italic-VariableFont_wght.ttf)
  }

body {
  max-height: 100%;
  margin: 0 auto
}

html {
  max-height: 100%;
}

.container {
  padding: 5px 10px 5px 10px
}

/*-------------------------------SECTION-ONE-------------------------------------------*/

section {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 70px;
}

.container-logo img {
  object-fit: contain;
  width: 100%;
  height: 100%
}

.container-hamburguer img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.image-container-desktop {
  display: none;
}

.image-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%
}

header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  display: none;
}

.section-one-text {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  padding: 0 30px 0 30px
}

.section-one-text h1 {
  color: white;
  border: 2px solid white;
  font-size: 40px;
  text-align: center;
  font-weight: lighter;
  font-family:'Josefin Sans', sans-serif;
}


/*----------------------------------MEDIA-QUERIE----------------------------------------------*/


@media only screen and (min-width: 700px) {

  .image-container {
    display: none;
  }

  .image-container-desktop {
    display: block ;
  }

  .image-container-desktop img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }


.container {
  padding: 30px 40px 30px 40px
  
}

.container-hamburguer img {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-one-text {
  max-width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.section-one-text h1 {
  font-size: 40px;
  font-weight: lighter;
  text-align: start;
  color: white
}

nav {
  display: block;
  color: white;
  font-size: 12px;
  font-family:'Josefin Sans', sans-serif;
}

nav a {
  margin-left: 15px;
}

}

@media only screen and (min-width: 905px) {

  .section-one-text {
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .section-one-text h1 {
    font-size: 60px;
    font-weight: lighter;
    text-align: start;
    color: white
  }

}

@media only screen and (min-width: 1100px) {

 
  .section-one-text {
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .section-one-text h1 {
    font-size: 70px;
    font-weight: lighter;
    text-align: start;
    color: white
  }

  .image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%
  }
}