
@font-face {
    font-family:'Josefin Sans';
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
    font-weight: 200;
    font-style: normal;
}

body {
  margin: 0
}

.container {
  padding: 30px 50px 30px 50px;
}

.section-one {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/*-----------------------DISPLAYES NONES---------------------------------------------------------*/

.hero-desktop {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-family:'Josefin Sans';
  margin-bottom: 10px;
}

.picture-desktop {
  display: none;
}

/*-------------------------SECTION-ONE-----------------------------*/

.hero-mobile {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100vh
}

header {
  background: black;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.burguer {
  width: 25px
}

.text-hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.text-hero h1 {
  color: white;
  border: 1px solid white;
  font-family:'Josefin Sans';
  padding: 10px 15px 10px 15px;
  font-size: 50px;
}

.picture-box  {
  position: relative;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 35px;
}

.picture-box:hover {
  opacity: 70%;
  transition: 0.5s;
}

.picture-mobile {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.picture-box h3 {
  position: absolute;
  color: white;
  font-family: 'Josefin Sans';
  margin: 20px
 
}


/*---------------------SECTION-THREE-----------------------------*/

.pictures-titles h2 {
  font-family: 'Josefin Sans';
  text-align: center;
  font-size: 35px;
}

.see-all {
  font-family:'Josefin Sans';
  font-weight: bold;
  border: 1px solid black;
  padding: 2px 15px 2px 15px;
  letter-spacing: 5px;
  display: none;
}

.see-all-mobile   {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.see-all-mobile a {
  color: black;
  border: 1px solid black;
  padding: 10px 40px 10px 40px;
  letter-spacing: 7px;
  text-decoration: none;
}

.see-all-mobile a:hover {
  color: white;
  background: black;
  border: 1px solid white;
  transition: 0.4s 
}












/*-----------------------FOOTER------------------------------------------*/

footer {
  background: black;
  display: flex;
  flex-direction: column;
  padding: 50px
}

.flex-one {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-bottom: 40px;
}

.flex-one .logo {
  margin-bottom: 10px;
}

.flex-one a {
  margin-bottom: 10px;
}

.flex-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  
}

.footer-menu a {
  text-decoration: none;
  color: white;
  font-family:'Josefin Sans';
  text-align: center;
}

.fa-facebook-square {
  color: white;
}

.fa-twitter {
  color: white
}

.fa-pinterest {
  color: white
}

.fa-instagram {
  color: white
}

.footer-media {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright {
  color: grey;
  font-family:'Josefin Sans';
  font-weight: bold;
}


/*------------RESPONSIVE-MEDIA QUERIE-------------------*/
/*----------------SECTION-THREE-MEDIA-QUERIE----------------*/


@media (min-width: 600px) {
  
  .picture-mobile {
    display: none;
  }

  .pictures-order {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .picture-box {
    height: 300px;
    width: 23%;
  }

  .picture-box:hover {
    opacity: 50%;
  }

  .picture-box h3 {
    font-family: 'Josefin Sans';
    font-size: 13px;
  }

  .picture-desktop {
    display: block;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .pictures-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .see-all {
    display: block;
    text-align: center;
    padding: 10px 20px 10px 20px;
  }

  .see-all:hover {
    background: black;
    color: white;
    transition: 0.4s;
  }

  .see-all-mobile {
    display: none;
  }

  .menu {
    width: 100px;
  }

  .burguer {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 500px;
    
  }

  nav a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-family: 'Josefin Sans';
    font-size: 12px;
  }

  nav a:hover {
    opacity: 70%;
    transition: 0.4s;
  }

  .menu-burguer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


}